/*-------------------------
   5.2 Single Blog Card
-------------------------*/

// roister-single-blog-1
.roister-single-blog-1 {
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  .thumb {
    transition: var(--transition);
    width: 100%;
    height: 488px;
    flex-shrink: 0;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(2, 6, 38, 0) 0%, #f39c12 150%);
    transition: var(--transition);
  }
  .content-wraper {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 40px;
    z-index: 1;

    @include screen-1400 {
      padding: 30px;
    }
    @include screen-992 {
      padding: 24px;
    }
    .date {
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .title {
      color: var(--white-color);
      font-family: var(--heading-font);
      font-size: var(--fz-24);
      font-style: normal;
      font-weight: 600;
      line-height: 136.364%;
      letter-spacing: 1.1px;
      transition: var(--transition);
      a {
        color: var(--white-color);
        transition: var(--transition);
        &:hover {
          color: var(--primary-color);
        }
      }
    }

    .link-to {
      color: var(--white-color);
      font-family: var(--heading-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      transition: var(--transition);
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &:hover {
    .thumb {
      transform: scale(1.1);
    }
  }
}

// roister-single-blog-2
.roister-single-blog-2 {
  .content-wraper {
    .date {
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .title {
      color: var(--white-color);
      font-family: var(--heading-font);
      font-size: var(--fz-24);
      font-style: normal;
      font-weight: 600;
      line-height: 136.364%;
      letter-spacing: 1.1px;
      transition: var(--transition);
      a {
        color: var(--white-color);
        transition: var(--transition);
        &:hover {
          color: var(--primary-color);
        }
      }
    }

    .link-to {
      color: var(--white-color);
      font-family: var(--heading-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      transition: var(--transition);
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

// roister-single-blog-3
.roister-single-blog-3 {
  border-radius: 8px;
  .img-wraper {
    position: relative;
    height: 315px;
    overflow: hidden;
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background: var(--white-color);
      transform-origin: 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      transition: 0.5s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition);
    }
    .date-wraper {
      width: 70px;
      height: 70px;
      flex-shrink: 0;
      position: absolute;
      top: 22px;
      right: 18px;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2px;
      border-radius: 3px;
      .day {
        color: var(--white-color);
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.72px;
      }
      .dayofweek {
        color: var(--white-color);
        font-size: var(--fz-16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .content-wraper {
    background-color: var(--dark-color-2);
    .top-area {
      padding: 30px;
      .cate-link {
        color: var(--primary-color);
        font-family: var(--body-font);
        font-size: var(--fz-18);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.9px;
        a {
          color: var(--primary-color);
        }
      }

      .title {
        color: var(--white-color);
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        a {
          color: var(--white-color);
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
    .btm-area {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &:hover {
    .img-wraper {
      &::before {
        transform: scaleY(0);
        opacity: 0.1;
      }
      &::after {
        transform: scaleX(0);
        opacity: 0.1;
      }
      img {
        transform: scale(1.08);
      }
    }
  }
}

// roister-single-blog-4
.roister-single-blog-4 {
  .img-wraper {
    position: relative;
    width: 100%;
    max-height: 509px;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition);
    }
    .blog-vdo-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      .outline-circle {
        @extend .blog-vdo-icon;
        @include screen-768 {
          width: 60px;
          height: 60px;
        }
      }

      .main-circle {
        g {
          path {
            fill: var(--primary-color);
          }
        }
        @include screen-768 {
          width: 40px;
          height: 40px;
        }
      }
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      svg {
        @include screen-768 {
          width: 40px;
          height: 41px;
        }
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  .meta-wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    .meta-info,
    .divider {
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 400;
      line-height: 152.941%;
      transition: var(--transition);
    }
    a.meta-info {
      color: var(--white-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }
  .title {
    color: var(--white-color);
    font-family: var(--heading-font);
    font-size: var(--fz-36);
    font-style: normal;
    font-weight: 700;
    line-height: 128.571%;
    a {
      font-size: var(--fz-36);
      color: var(--white-color);
      transition: var(--transition);
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .des {
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: var(--fz-16);
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
  }
}

// roister-single-blog-5
.roister-single-blog-5 {
  .img-wraper {
    position: relative;
    width: 100%;
    max-height: 509px;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition);
    }
    .blog-vdo-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      .outline-circle {
        @extend .blog-vdo-icon;
        @include screen-768 {
          width: 60px;
          height: 60px;
        }
      }

      .main-circle {
        g {
          path {
            fill: var(--primary-color);
          }
        }
        @include screen-768 {
          width: 40px;
          height: 40px;
        }
      }
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      svg {
        @include screen-768 {
          width: 40px;
          height: 41px;
        }
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  .meta-wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    .meta-info,
    .divider {
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 400;
      line-height: 152.941%;
      transition: var(--transition);
    }
    a.meta-info {
      color: var(--white-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }
  .title {
    color: var(--white-color);
    font-family: var(--heading-font);
    font-size: var(--fz-36);
    font-style: normal;
    font-weight: 700;
    line-height: 128.571%;
    a {
      color: var(--white-color);
      transition: var(--transition);
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .des {
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: var(--fz-16);
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
  }
}

// roister-single-blog-sm-5
.roister-single-blog-sm-5 {
  display: flex;
  align-items: center;
  gap: 14px;
  @include screen-576 {
    flex-wrap: wrap;
    gap: 20px;
  }

  .img-wraper {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    border-radius: 50%;
    @include screen-768 {
      width: 90px;
      height: 90px;
    }
    .blog-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .meta-wraper {
    display: flex;
    gap: 20px;
    align-items: center;
    .meta-info {
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      svg {
        path {
          fill: var(--primary-color);
        }
      }
    }
  }
  .title {
    font-family: var(--heading-font);
    font-size: var(--fz-18);
    font-style: normal;
    font-weight: 700;
    line-height: 155.556%;
    a {
      color: var(--white-color);
      transition: var(--transition);
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
