/*-------------------------
   4.12 Cursor Effects
-------------------------*/
.cursor {
  background-color: var(--primary-color);
  z-index: 109;
  height: 8px;
  width: 8px;
}

.cursor2,
.cursor3 {
  height: 50px;
  width: 50px;
  z-index: 108;
  transition: all 0.3s ease-out;
  border: 1px solid var(--primary-color);
}

.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  transition: all 0.3s linear;
  opacity: 0;
}
