/*-------------------------
  4.10 Forms
-------------------------*/

// header searbar form
.roister-header-searchbar-form {
  background: var(--bg-black-shade-1);
  height: 50vh !important;

  .offcanvas-body {
    display: flex;
    justify-content: center;
    align-items: center;

    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: var(--white-color);
      font-size: var(--fz-24);
      text-transform: capitalize;
      transition: var(--transition);
      &:hover {
        color: var(--negative-color);
      }
    }

    .form-wraper {
      display: flex;
      align-items: center;
      gap: 0;
      flex-wrap: nowrap;
      max-width: 700px;
      width: 100%;
    }

    .search-input {
      max-width: 700px;
      width: 100%;
      height: 60px;
      border-radius: 8px;
      padding: 14px 24px;
      border-radius: 8px 0px 0px 8px;
      @include screen-768 {
        height: 48px;
      }
    }

    .submit-btn {
      height: 60px;
      padding: 14px 24px;
      background-color: var(--primary-color);
      border-radius: 0px 8px 8px 0px;
      @include screen-768 {
        height: 48px;
      }
    }
  }
}

// blog-comment-form
.blog-comment-form {
  .input {
    border: 1px solid var(--primary-color);
    background: transparent;
    width: 100%;
    height: 65px;
    flex-shrink: 0;
    padding: 17px 24px;
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: var(--fz-16);
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    &:focus {
      border-color: var(--primary-color);
    }
    @include screen-768 {
      height: 48px;
    }
  }
  textarea.input {
    height: initial;
  }

  .lable {
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: var(--fz-16);
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
  }
}
