/*-------------------------
   4.5 Main Menu
-------------------------*/
.main-menu {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    @include screen-1600 {
      gap: 20px;
    }
    li {
      position: relative;
      a {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        color: var(--white-color);
        font-family: var(--body-font);
        font-size: var(--fz-18);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 37px 0px;
        @include screen-1400 {
          padding: 30px 0px;
          font-size: 14px !important;
        }
        &:hover {
          color: var(--primary-color);
        }
      }
      &:hover {
        .submenu {
          opacity: 1;
          visibility: visible;
        }
      }
      &:hover > a {
        color: var(--primary-color);
      }
      .submenu {
        width: 220px;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        top: 100%;
        left: 0;
        gap: 0;
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
        z-index: 99;
        box-shadow: var(--box-shadow);
        li {
          width: 100%;
          a {
            padding: 12px 16px;
            width: 100%;
            font-size: var(--fz-18);
            display: block;
            transition: var(--transition);

            &:hover {
              background-color: var(--dark-color);
            }
          }
        }
      }
    }
  }
}
