/*-------------------------
     4.1 Preloader
-------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: var(--bg-black-shade-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

// one
.hypnotic {
  width: 28px;
  height: 56px;
  display: grid;
  background-image: 
    linear-gradient(#ffb238, #ffb238),
    radial-gradient(farthest-side at top, #0000 calc(100% - 2.2px), #ffb238 calc(100% - 1.1px), #0000),
    linear-gradient(#ffb238, #ffb238),
    radial-gradient(farthest-side at bottom, #0000 calc(100% - 2.2px), #ffb238 calc(100% - 1.1px), #0000);
  
  background-size: 100% 2.2px, 100% 50%, 100% 2.2px, 100% 50%;
  background-position: top, top, bottom, bottom;
  background-repeat: no-repeat;
  
  animation: hypnotic-k56gsf 4s infinite linear;
}

.hypnotic::before,
.hypnotic::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border: inherit;
  animation: inherit;
}

.hypnotic::after {
  animation-duration: 2s;
}

@keyframes hypnotic-k56gsf {
  100% {
    transform: rotate(1turn);
  }
}

// two
.dots {
  width: 85.1px;
  height: 13.4px;
  display: flex;
}

.dots:before,
.dots:after {
  content: "";
  flex: 1;
  background: radial-gradient(farthest-side, #ffb238 90%, #0000) center/13.4px
      100%,
    radial-gradient(farthest-side at right, #ffb238 90%, #0000) right / 6.7px
      100%;
  background-repeat: no-repeat;
  transform: scale(var(--s, 1)) translate(0px) rotate(0);
  animation: dots-31zaijmd 2s infinite;
}

.dots:after {
  --s: -1;
}

@keyframes dots-31zaijmd {
  25% {
    transform: scale(var(--s, 1)) translate(-11.2px) rotate(0);
  }

  50% {
    transform: scale(var(--s, 1)) translate(-11.2px) rotate(1turn);
  }

  75%,
  100% {
    transform: scale(var(--s, 1)) translate(0px) rotate(1turn);
  }
}
