/*-------------------------
    3.1 Header 2
-------------------------*/
.roister-header-area-2 {
  @extend .roister-header-area-1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 z-index: 99;
  .header-btm {
    .positioned-logo {
      background-color: var(--white-color);
    }
  }
}
