/*-------------------------
    1.4 Typography
-------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white-color);
  font-family: var(--heading-font);
  font-style: normal;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  text-wrap-mode: wrap;
}

h1 {
  font-size: var(--fz-90);
  font-weight: 700;
  line-height: 120%;
}

h2 {
  font-size: var(--fz-64);
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-size: var(--fz-48);
  font-weight: 600;
  line-height: 120%;
}

h4 {
  font-size: var(--fz-30);
  font-weight: 600;
  line-height: 130%;
}

h5 {
  font-size: var(--fz-24);
  font-weight: 500;
  line-height: 130%;
}

h6 {
  font-size: var(--fz-20);
  font-weight: 500;
  line-height: 130%;
}

p {
  color: var(--white-color);
  font-family: var(--body-font);
  font-size: var(--fz-16);
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
