/*-------------------------
  6.9 404 Error Page
-------------------------*/
.roister-error-page {
  padding-top: 220px;
  padding-bottom: 100px;
  @include screen-1200 {
    padding-top: 160px;
    padding-bottom: 70px;
  }
  @include screen-992 {
    padding-top: 140px;
  }
  @include screen-768 {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .content-wraper {
    text-align: center;
    .title {
      font-size: var(--fz-100);
    }
  }
}
