/*-------------------------
     6.6 Blog Page
-------------------------*/
/*---------
single-blog-quote
-----------*/
.single-blog-quote {
  border-radius: 4px;
  background: var(--dark-color-2);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  padding: 42px 32px;
  @include screen-768 {
    padding: 32px 24px;
  }
  .icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  svg.icon {
    path {
      fill: var(--primary-color);
    }
  }

  .des {
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: var(--fz-16);
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
  }

  .quote-by {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: var(--fz-24);
    font-style: normal;
    font-weight: 700;
    line-height: 141.667%;
    position: relative;
    padding-left: 54px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 40px;
      height: 3px;
      flex-shrink: 0;
      background-color: var(--primary-color);
    }
  }
}

/*---------
blog sidebar common class
-----------*/
.blog-common-sidebar-widget-style {
  border-radius: 4px;
  background: var(--dark-color-2);
  padding: 40px 30px;

  .heading-title {
    color: var(--white-color);
    font-family: var(--heading-font);
    font-size: var(--fz-24);
    font-style: normal;
    font-weight: 700;
    line-height: 108.333%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 58px;
      height: 2px;
      flex-shrink: 0;
      background-color: var(--primary-color);
    }
  }
}

/*---------
roister-blog-searchbox
-----------*/
.roister-blog-search-widget {
  @extend .blog-common-sidebar-widget-style;
  display: flex;
  align-items: center;

  .input {
    width: calc(100% - 64px);
    flex-grow: 1;
    height: 55px;
    flex-shrink: 0;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid var(--primary-color);
    padding: 14px 20px;
    background: var(--dark-color-2);
    color: var(--white-color);
    &::placeholder {
      color: var(--primary-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 700;
      line-height: 162.5%;
    }
  }

  .submit-btn {
    width: 64px;
    height: 55px;
    flex-shrink: 0;
    background-color: var(--primary-color);
    border-radius: 0px 4px 4px 0px;
  }
}

/*---------
roister-blog-service-list-widget
-----------*/
.roister-blog-service-list-widget {
  @extend .blog-common-sidebar-widget-style;

  .service-list {
    li {
      &:first-child {
        a {
          padding-top: 0px;
        }
      }
      &:last-child {
        a {
          padding-bottom: 0px;
          border: none;
        }
      }
      a {
        padding: 14px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .text,
        .icon {
          color: var(--white-color);
          font-family: var(--body-font);
          font-size: var(--fz-16);
          font-style: normal;
          font-weight: 700;
          line-height: 152.941%;
          transition: var(--transition);
        }
        &:hover {
          border-color: var(--primary-color);
          .text,
          .icon {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

/*---------
roister-blog-post-widget
-----------*/
.roister-blog-post-widget {
  @extend .blog-common-sidebar-widget-style;

  .post-wraper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/*---------
roister-blog-tags
-----------*/
.roister-blog-tags {
  @extend .blog-common-sidebar-widget-style;
  .tags-wraper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 14px;
    a {
      display: inline-flex;
      padding: 8px 16px;
      height: 45px;
      flex-shrink: 0;
      border-radius: 3px;
      border: 1px solid var(--primary-color);
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 500;
      line-height: 173.333%;
      transition: var(--transition);
      &:hover {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: var(--text-color);
      }
    }
  }
}

/*---------
blog-details-pg-contents
-----------*/
.blog-details-pg-contents {
  .roister-single-blog-5 {
    .meta-wraper {
      gap: 30px;
      flex-wrap: wrap;
      @include screen-768 {
        gap: 20px;
      }
      .meta-info {
        display: flex;
        align-items: center;
        gap: 12px;
        @include screen-768 {
          gap: 10px;
        }
      }
    }
  }

  ul.list {
    li {
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:not(:last-child) {
        margin-bottom: 20px;
        @include screen-1200 {
          margin-bottom: 12px;
        }
      }
      svg {
        margin-right: 10px;

        circle {
          fill: var(--primary-color);
        }
        @include screen-992 {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .tags-social-common-wraper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: nowrap;
  }
  .tags-wraper {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--primary-color);
      background: var(--bg-black-shade-3);
      color: var(--white-color);
      padding: 2px 16px;
      text-align: center;
      font-family: var(--body-font);
      font-size: var(--fz-14);
      font-style: normal;
      font-weight: 500;
      line-height: 214.286%;
      text-transform: uppercase;
      transition: var(--transition);
      &:hover {
        background-color: var(--primary-color);
        color: var(--text-color);
      }
    }
  }

  .social-wraper {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    a {
      background: var(--bg-black-shade-3);
      width: 42px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      color: var(--white-color);
      font-size: var(--fz-14);
      transition: var(--transition);
      &:hover {
        background-color: var(--primary-color);
        color: var(--text-color);
      }
    }
  }

  .divider {
    opacity: 1;
    border-color: rgba(204, 255, 0, 0.1);
  }
}

/*---------
single-blog-quote-2
-----------*/
.single-blog-quote-2 {
  background: var(--bg-black-shade-3);
  padding: 42px 32px;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  @include screen-768 {
    padding: 32px 24px;
  }
  .des {
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: var(--fz-20);
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 190.476% */
  }
  .btm-wraper {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    .quote-by {
      color: var(--white-color);
      font-family: var(--heading-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 500;
      line-height: 1;
      position: relative;
      padding-left: 30px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 18px;
        height: 2px;
        flex-shrink: 0;
        background-color: var(--white-color);
      }
    }
  }

  svg.icon {
    path {
      fill: var(--primary-color);
    }
  }
}

/*---------
single-common-reply
-----------*/
.single-common-reply {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  @include screen-768 {
    flex-wrap: wrap;
  }
  .img-wraper {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .contents-wraper {
    .top-area {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: space-between;
    }

    .name {
      color: var(--white-color);
      font-family: var(--heading-font);
      font-size: var(--fz-18);
      font-style: normal;
      font-weight: 600;
      line-height: 138.889%;
    }

    .time-nd-date {
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-12);
      font-style: normal;
      font-weight: 500;
      line-height: 241.667%;
      letter-spacing: 0.36px;
      text-transform: uppercase;
    }

    .des {
      color: var(--white-color);
      font-family: var(--body-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 400;
      line-height: 180%;
    }

    .reply {
      color: var(--white-color);
      font-size: var(--fz-16);
      transition: var(--transition);
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

/*---------
roister-blog-details-chef-intro
-----------*/
.roister-blog-details-chef-intro {
  display: flex;
  align-items: center;
  gap: 24px;
  @include screen-576 {
    flex-wrap: wrap;
  }
  .img-wraper {
    width: 182px;
    height: 245.544px;
    flex-shrink: 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .conents-wraper {
    .social-wraper {
      a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        flex-shrink: 0;
        background-color: var(--bg-black-shade-3);
        &:hover {
          background-color: var(--white-color);
          color: var(--primary-color);
        }
      }
    }
  }
}

/*---------
roister-next-prev-blog-post
-----------*/
.roister-next-prev-blog-post {
  .row .col-12:last-child {
    .single-next-prev-post {
      .content-wraper {
        text-align: right;
      }
    }
  }

  .single-next-prev-post {
    display: flex;
    align-items: center;
    gap: 24px;

    .img-wraper {
      width: 100px;
      height: 100px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
    .content-wraper {
      .nxt-prev-link {
        color: var(--primary-color);
        text-align: justify;
        font-family: var(--body-font);
        font-size: var(--fz-16);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: inline-block;
      }

      .title {
        a {
          color: var(--white-color);
          font-family: var(--heading-font);
          font-size: var(--fz-18);
          font-style: normal;
          font-weight: 600;
          line-height: 130%;
          transition: var(--transition);
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
