/*---------
6.7 Contact Page
-----------*/

/*---------
roister-contact-pg-info-wraper
-----------*/
.roister-contact-pg-info-wraper {
  .single-conact-details {
    .icon-wraper {
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      background-color: var(--white-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      margin-left: auto;
      margin-right: auto;
      @include screen-768 {
        width: 80px;
        height: 80px;
      }
    }
    .content-wraper {
      text-align: center;
      p {
        a {
          color: var(--white-color);
          font-weight: 500;
          font-size: var(--fz-16);
          transition: var(--transition);
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

/*---------
roister-google-map
-----------*/
.roister-google-map {
  .roister-map {
    width: 100%;
    height: 722px;
  }
}
