/*-------------------------
   6.2 Home Page 2
-------------------------*/
/*---------
roister-hero-section-2
-----------*/
.roister-hero-section-2 {
  @extend .common-bg-style;
  overflow: hidden;
  padding-top: 160px;
  @include screen-992 {
    padding-top: 130px;
  }

  .title {
    color: var(--white-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 130px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    @include screen-1600 {
      font-size: 120px;
    }
    @include screen-1400 {
      font-size: 95px;
    }
    @include screen-1200 {
      font-size: 76px;
    }
    @include screen-992 {
      font-size: 70px;
    }
    @include screen-768 {
      font-size: 52px;
    }
  }

  .thumb {
    max-width: 830px;
    max-height: 627px;
    width: 100%;
    flex-shrink: 0;
    object-fit: contain;
    margin: 0 auto;

    @include screen-1600 {
      max-width: 600px;
    }
    @include screen-1200 {
      max-width: 460px;
    }
    @include screen-992 {
      max-width: 400px;
    }
  }

  .shape1,
  .shape2,
  .shape3 {
    position: absolute;
    @include screen-1200 {
      transform: scale(0.6);
    }
    @include screen-576 {
      display: none;
    }
  }
  .shape1 {
    width: 199px;
    height: 165px;
    flex-shrink: 0;
    left: -17%;
    bottom: 34%;
    @include screen-1800 {
      left: -10%;
    }
    @include screen-1600 {
      left: 0;
    }
    @include screen-768 {
      left: -17%;
    }
  }
  .shape2 {
    width: 173px;
    height: 111px;
    flex-shrink: 0;
    top: 10%;
    right: -10%;
    @include screen-1600 {
      right: -4%;
    }
  }
  .shape3 {
    width: 121px;
    height: 127px;
    flex-shrink: 0;
    bottom: 12%;
    right: 4%;

    @include screen-768 {
      right: -8%;
    }
  }
}

/*---------
roister-hm2-cta-section
-----------*/
.roister-hm2-cta-section {
  position: relative;
  .cta-shape {
    width: 244px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    @include screen-1800 {
      width: 220px;
      right: -50px;
    }
    @include screen-1600 {
      display: none;
    }
  }
  .content-wraper {
    text-align: center;
    .date-time-des {
      color: var(--white-color);
      text-align: center;
      font-family: var(--heading-font);
      font-size: var(--fz-16);
      font-style: normal;
      font-weight: 500;
      line-height: 166.688%;
    }

    .contact-link {
      color: var(--primary-color);
      text-align: center;
      font-family: var(--heading-font);
      font-size: var(--fz-24);
      font-style: normal;
      font-weight: 500;
      line-height: 166.667%;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  .cta-img1 {
    max-width: 369px;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .cta-img2 {
    max-width: 369px;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .img-vdo-wraper {
    position: relative;
    width: 239px;
    margin: 0 auto;
    .shape {
      position: absolute;
      top: -37px;
      left: 50%;
      transform: translateX(-50%);
    }

    .vdo-play-btn {
      position: absolute;
      bottom: 102px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      img {
        width: 86px;
        height: 86px;
        flex-shrink: 0;
        object-fit: contain;
      }
    }

    .cta-img3 {
      width: 239px;
      height: 290px;
      object-fit: cover;
    }
  }
}

/*---------
roister-hm2-fav-cat-section
-----------*/
.roister-hm2-fav-cat-section {
  position: relative;
  overflow: hidden;
  .shape-1,
  .shape-2 {
    position: absolute;
    z-index: -1;
    @include screen-768 {
      display: none;
    }
  }
  .shape-1 {
    width: 335px;
    top: -13%;
    left: 0;
  }
  .shape-2 {
    width: 221px;
    top: 6%;
    right: -35px;
  }
  .cat-row {
    .col-12 {
      &:nth-child(even) {
        .roister-single-category {
          height: 373px;
        }
      }
    }
  }
}

/*---------
roister-hm2-upcoming-event-section
-----------*/
.roister-hm2-upcoming-event-section {
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  .shape-1 {
    position: absolute;
    width: 221px;
    bottom: -6%;
    right: -35px;
  }

  @include screen-992 {
    flex-wrap: wrap;
  }
  .left-side {
    @extend .common-bg-style;
    width: 50%;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    @include screen-992 {
      width: 100%;
      height: 400px;
    }
    .left-img {
      width: 100%;
      height: 100%;
    }
    .vdo-icon-wraper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 214px;
      height: 355px;
      flex-shrink: 0;
      border: 3px solid #f39c12;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(7.5px);
      display: flex;
      align-items: center;
      justify-content: center;
      @include screen-992 {
        width: 150px;
        height: 150px;
      }
    }
  }
  .right-side {
    @extend .common-bg-style;
    background-position: bottom right;
    background-attachment: fixed;
    width: 50%;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 66px;
    @include screen-992 {
      width: 100%;
      padding: 80px 24px;
    }

    .inner-container {
      max-width: 445px;
      width: 100%;
    }

    .right-img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }

    .events-wraper {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .single-event-wraper {
        display: flex;
        gap: 30px;
        align-items: center;
        .event-left-side {
          width: 85px;
          height: 86px;
          flex-shrink: 0;
          border-radius: 3px;
          border: 1px solid var(--primary-color);
          background: #0f2928;
          position: relative;
          .date-no {
            color: var(--white-color);
            text-align: center;
            font-family: var(--heading-font);
            font-size: var(--fz-30);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-top: 6px;
          }
          .date {
            display: block;
            width: 100%;
            height: 30px;
            flex-shrink: 0;
            border-radius: 0px 0px 3px 3px;
            background: var(--primary-color);
            color: var(--white-color);
            text-align: center;
            font-family: var(--body-font);
            font-size: var(--fz-12, 12px);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
}

/*---------
roister-hm2-best-menus-section
-----------*/
.roister-hm2-best-menus-section {
  position: relative;

  .shape-1 {
    width: 164px;
    height: 223px;
    flex-shrink: 0;
    aspect-ratio: 364/523;
    position: absolute;
    right: 0;
    bottom: -10%;
    opacity: 0.4;
    z-index: -1;
  }
  .shape-2 {
    width: 138px;
    height: 252px;
    flex-shrink: 0;
    aspect-ratio: 169/226;
    position: absolute;
    left: 0;
    bottom: 10%;
    opacity: 0.4;
    z-index: -1;
    @include screen-992 {
      display: none;
    }
  }
  .left-side {
    text-align: center;
    img {
      width: 100%;
      height: 469px;
      object-fit: cover;
      border-radius: 8px;
    }

    .link {
      color: var(--primary-color);
      font-family: var(--body-font);
      font-size: var(--fz-24);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      text-align: center;
    }
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .single-menu-list {
      h4 {
        color: var(--white-color);
        font-family: var(--heading-font);
        font-size: var(--fz-30);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 8px;
      }
      p {
        color: var(--white-color);
        font-family: var(--body-font);
        font-size: var(--fz-16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 4px;
      }

      .price-wraper {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: nowrap;
        .dotted {
          display: block;
          width: 100%;
          height: 1px;
          border-top: 1px dashed var(--primary-color);
        }
        .price {
          color: var(--primary-color);
          font-family: var(--heading-font);
          font-size: var(--fz-24);
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
  }

  .right-side {
    p {
      color: var(--primary-color);
      font-family: var(--body-font);
      font-size: var(--fz-24);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    img {
      width: 100%;
      height: 548px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

/*---------
roister-hm2-reservation-form
-----------*/
.roister-hm2-reservation-form {
  @extend .common-bg-style;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  @include screen-576 {
    padding: 60px 24px;
  }
  &::after {
    content: "";
    width: 1290px;
    height: 1290px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include screen-1400 {
      width: 1090px;
      height: 1090px;
    }
    @include screen-1200 {
      width: 950px;
      height: 950px;
    }
    @include screen-992 {
      width: 750px;
      height: 750px;
    }
    @include screen-768 {
      border-radius: 30px;
      width: calc(100% - 80px);
      height: calc(100% - 80px);
    }
    @include screen-576 {
      display: none;
    }
  }
  .reservation-form-wraper {
    padding: 120px 200px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    text-align: center;

    @include screen-1200 {
      padding: 120px 160px;
    }
    @include screen-992 {
      padding: 120px 120px;
    }
    @include screen-768 {
      padding: 100px 40px;
    }
    @include screen-576 {
      padding: 40px 24px;
      background-color: var(--primary-color);
      border-radius: 10px;
    }

    .input-wraper {
      .input {
        padding: 14px 0px;
        color: var(--white-color);
        font-family: var(--body-font);
        font-size: var(--fz-16);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        background-color: var(--primary-color);
        border-bottom: 1px dashed var(--white-color);
        &::placeholder {
          color: var(--white-color);
        }
      }
      input[type="date"],
      input[type="time"] {
        color-scheme: light dark; /* hints browser to use dark icons if supported */
      }
    }
  }
}

/*---------
roister-hm2-package-section
-----------*/
.roister-hm2-package-section {
  position: relative;
  overflow: hidden;
  .shape-1 {
    position: absolute;
    z-index: -1;
    width: 221px;
    top: 6%;
    right: -35px;
    @include screen-768 {
      display: none;
    }
  }

  // .left-side {
  //   position: relative;
  //   display: flex;
  //   align-items: center;

  //   .content-wraper {
  //     width: 375.25px;
  //     height: 375.25px;
  //     flex-shrink: 0;
  //     border-radius: 50%;
  //     background-color: var(--bg-black-shade-1);
  //     border: 2px solid var(--primary-color);
  //     outline: 10px solid var(--bg-black-shade-1);
  //     padding: 60px;

  //     .title {
  //       color: var(--white-color);
  //       font-family: var(--heading-font);
  //       font-size: var(--fz-30);
  //       font-style: normal;
  //       font-weight: 600;
  //       line-height: normal;
  //     }

  //     ul {
  //       line-height: 2.3;
  //       li {
  //         span {
  //           color: var(--white-color);
  //           font-family: var(--body-font);
  //           font-size: var(--fz-18);
  //           font-style: normal;
  //           font-weight: 400;
  //           line-height: 166.667%;
  //         }
  //       }
  //     }
  //   }

  //   .img-wraper {
  //     max-width: 317px;
  //     max-height: 460px;
  //     flex-shrink: 0;
  //     position: absolute;
  //     z-index: 1;
  //     right: 0;
  //     @include screen-992 {
  //       max-width: 234px;
  //     }
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }
  //   }
  // }
  // .right-side {
  //   position: relative;
  //   display: flex;
  //   align-items: center;
  //   .content-wraper {
  //     width: 300px;
  //     flex-shrink: 0;
  //     border-radius: 30px;
  //     background-color: var(--primary-color);
  //     padding: 92px 36px;
  //     position: absolute;
  //     right: 0;
  //     @include screen-1400 {
  //       padding: 50px 24px;
  //     }

  //     .title {
  //       color: var(--white-color);
  //       font-family: var(--heading-font);
  //       font-size: var(--fz-30);
  //       font-style: normal;
  //       font-weight: 600;
  //       line-height: normal;
  //     }

  //     ul {
  //       line-height: 2.3;
  //       li {
  //         span {
  //           color: var(--white-color);
  //           font-family: var(--body-font);
  //           font-size: var(--fz-18);
  //           font-style: normal;
  //           font-weight: 400;
  //           line-height: 166.667%;
  //         }
  //       }
  //     }
  //   }

  //   .img-wraper {
  //     max-width: 395px;
  //     max-height: 395px;
  //     flex-shrink: 0;
  //     z-index: -1;
  //     @include screen-992 {
  //       max-width: 320px;
  //     }
  //     @include screen-992 {
  //       max-width: 220px;
  //     }
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }
  //   }
  // }
}

/*---------
roister-hm2-gallery
-----------*/
.roister-hm2-gallery {
  // .owl-theme .owl-dots .owl-dot span
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 60px;
  }
  .owl-theme .owl-dots {
    display: flex;
    justify-content: center;
    gap: 0px;
    .owl-dot {
      &.active {
        span {
          width: 20px;
          height: 20px;
          background: var(--primary-color) !important;
          &::after {
            content: initial;
          }
        }
      }
      span {
        width: 15px;
        height: 15px;
        background: #8b420e !important;
        &::after {
          content: initial;
        }
      }
    }
  }
}

/*---------
roister-hm2-testimonial-section
-----------*/
.roister-hm2-testimonial-section {
  position: relative;
  overflow: hidden;
  .shape-1 {
    position: absolute;
    z-index: -1;
    width: 221px;
    top: -14%;
    right: -35px;
    opacity: 0.4;
    @include screen-768 {
      display: none;
    }
  }
  .shape-2 {
    position: absolute;
    z-index: -1;
    width: 306px;
    bottom: 6%;
    right: -35px;
    opacity: 0.4;
    @include screen-768 {
      display: none;
    }
  }

  // .owl-theme .owl-dots .owl-dot span
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 60px;
  }
  .owl-theme .owl-dots {
    display: flex;
    justify-content: center;
    gap: 0px;
    .owl-dot {
      &.active {
        span {
          width: 20px;
          height: 20px;
          background: var(--primary-color) !important;
          &::after {
            content: initial;
          }
        }
      }
      span {
        width: 15px;
        height: 15px;
        background: #8b420e !important;
        &::after {
          content: initial;
        }
      }
    }
  }

  // active design
  .owl-item.active {
    .roister-single-hm2-testimonial {
      .top-area .user-box .img-wraper {
        -webkit-animation: 1.5s zoomIn;
        animation: 1.5s zoomIn;
      }
      .user-content {
        -webkit-animation: 1.5s fadeInUp;
        animation: 1.5s fadeInUp;
      }
      .rating-wraper {
        -webkit-animation: 1.5s fadeInUp;
        animation: 1.5s fadeInUp;
      }
    }
    .btm-area {
      -webkit-animation: 1.5s fadeInUp;
      animation: 1.5s fadeInUp;
    }
  }
}

/*---------
roister-blog-section-2
-----------*/
.roister-blog-section-2 {
  @extend .common-bg-style;
  position: relative;
  overflow: hidden;
  .shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 238px;
    flex-shrink: 0;
    z-index: -1;
    @include screen-1800 {
      width: 138px;
    }
    @include screen-1200 {
      top: -30px;
      left: -60px;
    }
    @include screen-992 {
      width: 90px;
    }
  }
  .shape-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 238px;
    flex-shrink: 0;
    z-index: -1;
    @include screen-1800 {
      width: 138px;
    }
    @include screen-992 {
      width: 90px;
      right: -30px;
    }
  }
}
